<!doctype html>
<html>
  <head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no" />
  <title>{{#resume.basics}}{{name}}{{/resume.basics}}</title>
  <script src="https://kit.fontawesome.com/2eb00a94c1.js" crossorigin="anonymous"></script>


  <style>
  {{{css}}}
  </style>

  </head>
  <body>

  <div id="resume">
    {{> basics }}
    {{> skills }}
    {{> assignments }}
    {{> work }}
    {{> volunteer }}
    {{> education }}
  </body>
</html>
